.login-view{
    display: flex;
    align-items: center;
    height:100%;
    background: url('../../assets/images/login-background.jpg');
    height: 100vh;
    background-size: cover;
}

.login-container{
    width: 400px;
    margin: auto;
    border-radius: 3px;
    //border: 1px solid #9c9c9c;
    background: #F9F9F9;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow:1px 3px 4px 0 rgba(50, 55, 56, 0.2);
}

.center-content{
    width: 300px;
    padding: 1px 0 30px 0;
    margin: 0px auto;
}

.logoContainer{
    margin-top: 40px;
    margin-bottom: 25px;
    width: 100%;
    text-align: center;
}

.logoContainer > h1{
    text-align: center;
    width: 100%;
}

.screen-container{
    width: 100%;
}

.center-elems{
    display:flex; 
    align-items:center;
}

.pull-right{
    float: right;
}

.pull-left{
    float: left;
}

.align-left{
    text-align: left;
}

.m-bottom-10 {
    margin-bottom: 10px;
}

.m-right-10 {
    margin-right: 10px;
}

.m-top-10 {
    margin-top: 10px;
}

.m-top-20 {
    margin-top: 20px;
}

.image-cropper {
    width: 50px;
    height: 50px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.image-cropper > img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

.ui-select-multiple input.ui-select-search { 
    width:100% !important; cursor: pointer; 
}

.no-hover-nav {
    color: #999 !important;
    background-color: #222 !important;
}
.label{
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.label-success{
    background-color: #5cb85c;
}

.label-warning{
    background-color: #f0ad4e;
}

.label-info{
    background-color: #337ab7;
}

.icon-info{
    color: #337ab7;
    cursor: pointer;
}

.label-danger{
    background-color: #d9534f;
}

google-maps {
    display: block;
    min-height: 150px;
}