<div class="container screen-container" ng-controller="requestsCtrl">
    <div class="row">
        <div class="col-md-12 col-lg-12 page-header center-elems">
                <h1>
                    Pedidos
                </h1>
        </div>
    </div>
    <div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="card">
            <div class="card-content table-responsive">
                <table class="table">
                <thead>
                        <th class="col-sm-2">#</th>
                        <th class="col-sm-3">Estado</th>
                        <th class="col-sm-2">Usuario</th>
                        <th class="col-sm-2">Hora inicio</th>
                        <th class="col-sm-3">Acciones</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="request in requests">
                            <td>{{request.number}}</td>
                            <td>
                                <span ng-if="request.status == 'WAITING_CONFIRMATION'" class="label label-info">A confirmar</span>
                                <span ng-if="request.status == 'ON_PREPARATION'" class="label label-warning">Aceptado</span>
                                <span ng-if="request.status == 'ON_THE_WAY'" class="label label-warning">En camino</span>
                                <span ng-if="request.status == 'DELIVERED'" class="label label-success">Entregado</span>
                                <span ng-if="request.status == 'CANCELLED_BY_USER'" class="label label-danger">Canelado</span>
                                <span ng-if="request.status == 'CANCELLED_BY_COMMERCE'" class="label label-danger">Rechazado</span>
                            </td>
                            <td> <a ng-click="openUserDetailsModal(request.user)" style="cursor:pointer;">request.user.name</a></td>
                            <td>{{request.status}}</td>
                            <td>{{request.status}}</td>
                            <td>
                                <a style="cursor:pointer;" ng-click="toggleEditModal(optional)">Editar</a>,
                                <a style="cursor:pointer;" ng-click="deleteOptional(optional)">Borrar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
    
    <div class="modal fade" id="optionalsModal" tabindex="-1" role="dialog" aria-labelledby="optionalsCreateModal" aria-hidden="true">
        <div class="modal-dialog"> 
           <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 ng-if="!editModal" class="modal-title">Agregar Opcional</h4>
                    <h4 ng-if="editModal" class="modal-title">Editar opcional</h4>

                </div>
                <div class="modal-body">
                    <div class="row m-bottom-10">
                       <label  class="col-sm-6 control-label">Nombre</label>
                       <div class="col-sm-6">
                           <input type="text" class="form-control" ng-model='currentOptional.name'>
                       </div>
                   </div>
                   <div class="row m-bottom-10">
                        <label  class="col-sm-6 control-label">Precio</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" ng-model='currentOptional.price'>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Cancelar</button>
                    <button ng-if="!editModal" type="button" class="btn btn-primary pull-left" ng-click="createOptional()">Agregar</button>
                    <button ng-if="editModal" type="button" class="btn btn-primary pull-left" ng-click="updateOptional()">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>