<div class="container screen-container" ng-controller="optionalsCtrl">
        <div class="row">
            <div class="col-md-12 col-lg-12 page-header center-elems">
                    <h1>
                        Opcionales
                    </h1>
                    <button class="btn btn-primary pull-right" style="margin-left:auto" ng-click="toggleCreateModal()">Agregar</button>
            </div>
        </div>
        <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-content table-responsive">
                    <table class="table">
                    <thead>
                            <th>Nombre</th>
                            <th>Precio</th>
                            <th>Acciones</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="optional in optionals">
                                <td>{{optional.name}}</td>
                                <td>{{optional.price}}</td>
                                <td>
                                    <a style="cursor:pointer;" ng-click="toggleEditModal(optional)">Editar</a>,
                                    <a style="cursor:pointer;" ng-click="deleteOptional(optional)">Borrar</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>
        
        <div class="modal fade" id="optionalsModal" tabindex="-1" role="dialog" aria-labelledby="optionalsCreateModal" aria-hidden="true">
            <div class="modal-dialog"> 
               <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 ng-if="!editModal" class="modal-title">Agregar Opcional</h4>
                        <h4 ng-if="editModal" class="modal-title">Editar opcional</h4>
    
                    </div>
                    <div class="modal-body">
                        <div class="row m-bottom-10">
                           <label  class="col-sm-6 control-label">Nombre</label>
                           <div class="col-sm-6">
                               <input type="text" class="form-control" ng-model='currentOptional.name'>
                           </div>
                       </div>
                       <div class="row m-bottom-10">
                            <label  class="col-sm-6 control-label">Precio</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" ng-model='currentOptional.price'>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Cancelar</button>
                        <button ng-if="!editModal" type="button" class="btn btn-primary pull-left" ng-click="createOptional()">Agregar</button>
                        <button ng-if="editModal" type="button" class="btn btn-primary pull-left" ng-click="updateOptional()">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>