<div class="container screen-container" ng-controller="commercesCtrl">
    
        <div class="row">
        <div class="col-md-12 col-lg-12 page-header center-elems">
                <h1>
                    Comercios
                </h1>
                <button class="btn btn-primary pull-right" style="margin-left:auto" ng-click="toggleCreateModal()">Agregar</button>
    
        </div>
        </div>
        
        <div class="row">
        <div class="col-md-12 col-lg-12">
    
            <div class="card">
                <div class="card-content table-responsive">
                    <table class="table">
                            <thead>
                                    <th>Razon social</th>
                                    <th>Nombre</th>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="commerce in commerces">
                                        <td>{{commerce.businessName}}</td>
                                        <td>{{commerce.name}}</td>
                                    </tr>
                                </tbody>
                    </table>
    
                </div>
            </div>
        </div>
        </div>
        
        
        <div class="modal fade" id="commercesModal" tabindex="-1" role="dialog" aria-labelledby="commerceCreateModal" aria-hidden="true">
            <div class="modal-dialog"> 
               <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 ng-if="!editModal" class="modal-title" id="commercesModalTitle">Agregar Comercio</h4>
                        <h4 ng-if="editModal" class="modal-title" id="commercesModalTitle">Editar Comercio</h4>
    
                    </div>
                    <div class="modal-body">
                        <div class="row m-bottom-10">
                           <label  class="col-sm-6 control-label">Razon social</label>
                           <div class="col-sm-6">
                               <input type="text" class="form-control" ng-model='currentCommerce.businessName'>
                           </div>
                       </div>
                       <div class="row m-bottom-10">
                            <label  class="col-sm-6 control-label">Nombre</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" ng-model='currentCommerce.name'>
                            </div>
                        </div>
                        <div class="row m-bottom-10">
                            <label  class="col-sm-6 control-label">Calle</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" ng-model='currentCommerce.address.street'>
                            </div>
                        </div>
                        <div class="row m-bottom-10">
                            <label  class="col-sm-6 control-label">Numero</label>
                            <div class="col-sm-6">
                                <input type="number" class="form-control" ng-model='currentCommerce.address.name'>
                            </div>
                        </div>
                        <div class="row m-bottom-10">
                            <label  class="col-sm-6 control-label">Correo electrónico</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" ng-model='currentCommerce.email'>
                            </div>
                        </div>
                        <div class="row m-bottom-10">
                            <label  class="col-sm-6 control-label">Numero de telefono</label>
                            <div class="col-sm-6">
                                <input type="number" class="form-control" ng-model='currentCommerce.phones[0]'>
                            </div>
                        </div>
                        <div class="row m-bottom-10" style="display:none">
                            <label  class="col-sm-6 control-label">Horarios de atencion</label>
                            <div class="col-sm-6 ">
                                <select class="col-sm-12" ng-options="day for day in days" ng-model="daySelected"></select>
                                <input style="margin-top:3px"  type="time" ng-model="from" />
                                <input style="margin-top:3px"  type="time" ng-model="to">
                                <button class="btn btn-block pull-right" style="margin-top:3px" type="button" ng-click="addCurrentTime()">Agregar</button>
                            </div>
                            <div class="col-sm-12" ng-repeat="time in currentCommerce.times">
                                <label class="" >{{time.day}} - Desde {{time.fromHour | date : 'hh:mm'}} Hasta {{time.toHour | date : 'HH:mm'}}</label>
                                <i class="glyphicon glyphicon-remove" style="cursor:pointer" ng-click="deleteTime($index)"></i>
                            </div>
                        </div>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Cancelar</button>
                        <button ng-if="!editModal" type="button" class="btn btn-primary pull-left"  ng-click="createCommerce(currentCommerce)">Agregar</button>
                        <button ng-if="editModal" type="button" class="btn btn-primary pull-left"  ng-click="updateCommerce(currentCommerce)">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>