
<div class="login-view" ng-controller="loginCtrl">
  <div class="container-fluid">
    <div class="login-container">
        <div class="center-content">
            <div class="logoContainer">
                <h1>HOY COMO</h1>
            </div>
            <p>Inicie sesion para comenzar</p>
            <div class="form-group has-feedback">
              <input type="email" class="form-control" placeholder="Usuario" ng-model="user.username">
              <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
              <input type="password" class="form-control" placeholder="Contraseña" ng-model="user.password">
              <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div>
                <button class="btn btn-default btn-block btn-flat" ng-click="login()">Ingresar</button>
            </div>
        </div>
        </div>
  </div>

</div>
